<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:fragment="header">
            <h1 style="background-color: black; color: white; text-align: center">TechShop</h1>
            <hr>
        </header>
        
        <footer th:fragment="footer">
            <p style="text-align: center; background-color: yellow; margin-top: 50vh">&COPY; Derechos Reservados 2023</p>
        </footer>
    </body>
</html>
